# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/

# Logs
logs/*.log

# Data
data/*.csv
data/*.parquet
!data/.gitkeep

# Reports
reports/*.html
!reports/.gitkeep

# Secrets
.env
*.pem
*.key

# Docker
postgres_data/

# IDE
.vscode/
.idea/
.DS_Store
